* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.conatiner
{
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

}
.block {
  background-color: white;

  border-radius: 25px;
  box-shadow: 2px;
  width: 80%;
}

.name {
  font-weight: bold;
  font-size: 30px;
}
.submitbtn {
  text-decoration: none;
  color: white;
}

.submitbtn:hover {
  text-decoration: none;
  color: white;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Heading {
  color: #5fcf80;
  font-size: 45px;
  font-weight: bold;
  margin: auto;
}
